
<html>
<head>
    <link rel="stylesheet" href="/css/styles.css"> 
<title>About</title>
<body>
    {{>header}}
     
    <img src="./img/Happy New Year.png">
    {{!-- <p>{{name}}</p> --}}
    {{>footer}}
</body>

</head>

</html>