
<html>
<head>
    <link rel="stylesheet" href="/css/styles.css">
    {{!-- <link rel="icon" href="/img/Happy New Year.png" --}}

</head>
<body>
    {{>header}}
     <p>This is created by Andrew George</p>
    <img src="./img/Happy New Year.png">
    {{!-- <p>{{name}}</p> --}}
    {{>footer}}
</body>
</html>