<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/styles.css"> 
<title>First</title>
<body>
    {{!-- TO add partials syntax {{>}} --}}
    {{>header}}
    <h1>{{message}}</h1>
    {{!-- <h2>created by{{name}}</h2> --}}
    {{>footer}}
</body>

</head>

</html>